.hero-container {
  width: 100vw;
  min-height: 400px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images_2/tel-Header_img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 118px 42px 128px 42px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;

  margin-bottom: 30px;
}

@media (min-device-pixel-ratio: 2) and (min-width: 280px),
  (min-resolution: 192dpi) and (min-width: 280px),
  (min-resolution: 2dppx) and (min-width: 280px) {
  .hero-container {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images_2/tel-Header_img@2x.jpg);
  }
}

@media screen and(min-width: 480px) {
  .hero-container {
    width: 448px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images_2/hero480.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and(min-width: 768px) {
  .hero-container {
    width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images_2/hero768.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and(min-width: 768px) {
  .hero-container {
    width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images_2/hero768@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and(min-width: 1200px) {
  .hero-container {
    width: 1200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images_2/desctop-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and(min-width: 1200px) {
  .hero-container {
    width: 1200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images_2/desctop-img@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/*.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
}

.hero__title {
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}
*/
