.spec-section {
  display: block;
  align-items: center;
}

.spec-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.spec-list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color);

  margin-bottom: 10px;
  text-align: center;
}

.spec-list-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--grey-color);
  margin-bottom: 30px;
}

@media screen and(min-width: 768px) {
  .spec-section {
    display: flex;
    flex-wrap: wrap;
  }

  .spec-section {
    justify-content: space-between;
  }
}

@media screen and(min-width:1200px) {
  .spec-section {
    justify-content: space-evenly;
  }
}
