.gallery-item {
  margin-top: 28px;
  margin-left: 28px;
  border: 1px solid #eeeeee;

  &:nth-child(7) {
    margin-bottom: 0px;
  }

  &:nth-child(8) {
    margin-bottom: 0px;
  }

  &:nth-child(9) {
    margin-bottom: 0px;
  }
}
