.section-description {
  position: absolute;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0px;
  bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
  padding-bottom: 27px;
}
